{% extends 'adminbase.html' %} 
{% load static %} 
{% block content %}

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn"></i>
      <span class="dashboard">Add Events</span>
    </div>
  </nav>

  <div class="home-content">
    <form action="{% url 'addevents' %}" method="POST">
      {% csrf_token %}
      <div class="container w-75 p-3 mt-5">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input name="name" type="text" id="form3Example1" class="form-control" />
              <label class="form-label" for="form3Example1">Event Name</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input name="player" type="number" id="form3Example2" class="form-control" />
              <label class="form-label" for="form3Example2">Players</label>
            </div>
          </div>
        </div>
        <input type="submit" value="ADD NOW" class="btn btn-primary btn-lg btn-block w-100">
      </div>
    </form>
  </div>
</section>

{% endblock %}