{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">



  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gallery</title>
  <link rel="stylesheet" href="{% static 'CSS/gallery1.css' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bgcol fixed-top ">
    <div class="container-fluid p-3">
      <a class="navbar-brand" href="index.html">
        <i class="fas fa-bold "></i>.
    </a>
     
      <a class="navbar-brand  p-2" href="#"><span class="badge bg-light text-dark">S P O R T S E V E N T M A N A G E M E N T</span> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse float-start" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white"  aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" href="{% url 'aboutus' %}">About Us</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white"  aria-current="page" href="{% url 'gallery' %}">Gallery</a>
          </li>


          
          
          
        </ul>
        

        


      </div>
    </div>
  </nav>
  <section class="text-center" style="padding-top:8em;">
    <h1 class="text-muted">G A L L E R Y</h1>
    <div class="row ">
      <div class="">
        <a><img src="{% static 'images/kerala football 1.webp' %}" alt=""
            class="src"></a>

        <a ><img src="{%static 'images/football 2.jpg'%}" alt="" class="src"></a>
        <a ><img src="{%static 'images/cricket1.jpg'%}" alt="" class="src" ></a>
        <a ><img src="{%static 'images/cricket2.webp'%}" alt="" class="src"></a>
        <a ><img src="{%static 'images/volleyball1.jpg'%}" alt="" class="src"></a>
        <a><img src="{%static 'images/volleyball2.jpg'%}" alt="" class="src"></a>
        <a ><img src="{%static 'images/hockey 1.jpg'%}" alt="" class="src"></a>
        <a><img src="{%static 'images/hockey 2.webp'%}" alt="" class="src"></a>
        <a ><img src="{%static 'images/kabadi1.jpg'%}" alt="" class="src"></a>
        <a ><img src="{%static 'images/kabadi 2.jpg'%}" alt="" class="src"></a>


      </div>


    </div>
  </section>
  <footer class="bgcol p-2">
    <div class="container ">
      <div class="row">
        <div class="flex-column text-center">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram-square"></i>
          <i class="fa-brands fa-whatsapp-square"></i>
          <h2 class="text-center">Copyright</h2>
        </div>

      </div>
    </div>
  </footer>







  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/a32bfb1b02.js" crossorigin="anonymous"></script>


</body>

</html>